[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
djangorestframework = "*"
redis = "*"
requests = "*"
logging = "*"
ffmpeg = "*"
pika = "*"
asyncio = "*"
Django = ">=4"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.10"
